* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to right bottom,
    rgb(23, 23, 23),
    rgba(20, 16, 16, 0.998)
  );
  padding: 20px;
  color: white;
}

section {
  height: 100%;
  width: 400px;
  background-color: black;
  border-radius: 10px;
  margin: auto;
  overflow: hidden;
}

.all-reels {
  height: 100%;
  width: 100%;
}

.all-reels .reel {
  height: 100%;
  width: 100%;
  background-color: crimson;
  position: relative;
}

.reel .main-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.reel .bottom {
  padding: 20px 20px;
  width: 100%;
  background: linear-gradient(rgb(128, 127, 127), rgb(161, 158, 158));
  position: absolute;
  bottom: 0;
}

.bottom .user {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.bottom .user img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.bottom .user h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.bottom .user button {
  background: none;
  border: 1px solid white;
  border-color: rgb(193, 191, 191);
  padding: 6px 4px;
  border-radius: 5px;
  color: white;
}
